header {
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
}

.navbar a, .navbar a:focus {


  font-size: 15px;
  font-weight: 500;
  color: rgb(37, 20, 20);
  white-space: nowrap;
  transition: 0.3s;
}


.navbar a:hover, .navbar .active, .navbar .active:focus {
  color: #47b2e4;
}
