<header changeClassScrollPassed="header-scrolled" class="navbar m-0 d-flex flex-row justify-content-around align-items-center fixed-top ">

    <nav class="d-flex ">
      <a class="nav-link" href="#hero">Home</a>
      <a class="nav-link" href="#about">About</a>
      <a class="nav-link" href="#about">About</a>
      <a class="nav-link" href="#services">Services</a>
      <a class="nav-link" href="#portfolio">Portfolio</a>
      <a class="nav-link" href="#team">Team</a>
      <a class="nav-link" href="#contact">Contact</a>
    </nav>




</header>
